In [55]:
import os
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import pickle

data = pd.read_csv('../data/dataset.csv')
data.head()

,Marital status,Application mode,Application order,Course,Daytime/evening attendance,Previous qualification,Nacionality,Mother's qualification,Father's qualification,Mother's occupation,...,Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
0,1,8,5,2,1,1,1,13,10,6,...,0,0,0,0,0.000000,0,10.8,1.4,1.74,Dropout
1,1,6,1,11,1,1,1,1,3,4,...,0,6,6,6,13.666667,0,13.9,-0.3,0.79,Graduate
2,1,1,5,5,1,1,1,22,27,10,...,0,6,0,0,0.000000,0,10.8,1.4,1.74,Dropout
3,1,8,2,15,1,1,1,23,27,6,...,0,6,10,5,12.400000,0,9.4,-0.8,-3.12,Graduate
4,2,12,1,3,0,1,1,22,28,10,...,0,6,6,6,13.000000,0,13.9,-0.3,0.79,Graduate

In [56]:
label_encoder = LabelEncoder()
data['Target'] = label_encoder.fit_transform(data['Target'])

X = data.drop(columns=['Target'])
y = data['Target']

Let's peform PCA for feature selection

In [62]:
from sklearn.decomposition import PCA
from sklearn.tree import DecisionTreeClassifier
from sklearn.datasets import load_iris

# initiate PCA and classifier with 5 componenets
pca = PCA(n_components=10)


X_pca = pca.fit_transform(X)

We will now compare the performance of our baseline models trained on original and after PCA data.

In [63]:
from sklearn.metrics import accuracy_score, classification_report
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X_pca, y, test_size=0.2, random_state=42)

In [64]:
from sklearn.ensemble import RandomForestClassifier

# baseline Random Forest
rf = RandomForestClassifier(n_estimators=100, random_state=42)
rf.fit(X_train, y_train)

y_rf_pred = rf.predict(X_test)

accuracy = accuracy_score(y_test, y_rf_pred)

print(f"Accuracy: {accuracy}")

Accuracy: 0.6971751412429379

In [65]:
# baseline Gradient Boosting
import xgboost as xgb

xgb_model = xgb.XGBClassifier(objective="multi:softmax")

xgb_model.fit(X_train, y_train)

y_gb_pred = xgb_model.predict(X_test)

accuracy = accuracy_score(y_test, y_gb_pred)
print("Accuracy:", accuracy)

Accuracy: 0.7005649717514124

In [66]:
# baseline Logistic Regression
from sklearn.linear_model import LogisticRegression

logreg = LogisticRegression(solver='liblinear', random_state=14)
logreg.fit(X_train, y_train)

y_logreg_pred = logreg.predict(X_test)
accuracy = accuracy_score(y_test, y_logreg_pred)

print(f"Accuracy: {accuracy}")

Accuracy: 0.6858757062146893